pyautogui
pydirectinput
pynewinput
# torch
# torchvision
# torchaudio
# easyocr
# scikit-image
# numpy
opencv-python
opencv-contrib-python
Pillow
playsound
easyocr # need to install with cuda, please google the installation command.
paddleocr
paddlepaddle # use cpu for now since I do not want to downgrade cuda from 12.8. google to see how to install with cuda
pynput # listen key press to stop
mss